<html xmlns:atom="http://www.w3.org/2005/Atom">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>Artefact Repository for Geo-Standards in the Netherlands</title>
<link href="https://register.geostandaarden.nl/r/css/style.css" type="text/css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><script src="https://register.geostandaarden.nl/r/js/jquery-1.9.1.js" type="text/javascript"></script>
</head>
<body>
<header>
<div id="topmenu_container">
<script>$("#topmenu_container").load("https://register.geostandaarden.nl/r/html/header.html");</script>
</div>
<div id="breadctxt_container">
<div id="breadctxt">

            <a href="https://register.geostandaarden.nl/">Technisch register voor geo-standaarden in Nederland</a>&nbsp;
            </div>
</div>
</header>
<article class="exp">
<!--<div id="topmenu">
<a title="ATOM-Feed" href="http://register.geostandaarden.nl/index.atom">ATOM</a>&nbsp;
<a title="JSON" href="http://register.geostandaarden.nl/index.json">JSON</a>&nbsp;
</div>-->

<h2>Technisch register voor geo-standaarden in Nederland</h2>
            <p>Het technisch register is de centrale vindplaats voor de informatiemodellen uit het <a href="http://www.geonovum.nl/onderwerpen/basismodel-geo-informatie-nen3610/algemeen-basismodel-geo-informatie-nen3610">NEN3610</a> stelsel, plus de technische standaarden die bij die informatiemodellen horen. Deze technische standaarden implementeren het informatiemodel en haar regels in bijvoorbeeld XML Schema en Schematron, maar het kan ook gaan om implementatiebestanden voor visualisatieregels en iconen. Al deze ‘technische’ bestanden zijn te vinden in dit register. </p>
<p>Dit technisch register voor geo-standaarden wordt beheerd door <a href="http://www.geonovum.nl">Geonovum</a>. Ook Nederlandse geo-standaarden die niet bij Geonovum in beheer zijn, maar wél onderdeel van het NEN3610 stelsel zijn, zijn hier te vinden. Dit kan ofwel fysiek, ofwel via een referentie zijn naar een eigen register van de beheerder van de desbetreffende standaard.</p>
            <p>Vulling van het technisch register is op dit moment nog niet compleet. Hier wordt in 2015 aan gewerkt.</p>

<div id="container">

<div id="leftcolumn">
      <h3>Ingang: informatiemodel</h3>
</div>

<div id="rightcolumn"><h3>Ingang: soort bestand</h3>            
            <p><i class="fa fa-file-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/informatiemodel/">Informatiemodel</a></span></p>
            <p><span style='margin-left:37px; width: 100%'>UML informatiemodellen (*.EAP of *.XMI). UML modellen worden hier aangeboden voor technische doeleinden zoals het genereren van schema's/code of het hergebruiken van entiteiten uit elkaars informatiemodel.</span></p>
						<p><i class="fa fa-file-code-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/gmlapplicatieschema/">GML applicatieschema</a></span></p>
            <p><span style='margin-left:37px; width: 100%'>GML application schemas: XML schema's die een valide extensie van <a href="http://www.opengeospatial.org/standards/gml">GML</a> zijn.</span></p>
            <p><i class="fa fa-file-code-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/xmlschema/">XML Schema</a></span></p>
            <p><span style='margin-left:37px; width: 100%'><a href="http://www.geonovum.nl/onderwerpen/uitwisselformaten/stuf">StUF</a> schema's en andere XML schema's</span></p>
            <p><i class="fa fa-file-code-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/regels/">Regels</a></span></p>
            <p><span style='margin-left:37px; width: 100%'><a href="http://www.schematron.com">Schematron</a> schema's, waarin validatieregels aanvullend op GML of XML schema's zijn opgenomen.</span></p>
						<p><i class="fa fa-file-text-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/waardelijst/">Waardelijst</a></span></p>
            <p><span style='margin-left:37px; width: 100%'>Waardelijsten worden in het technisch register als downloadbaar bestand opgenomen. De inhoud van waardelijsten is in het <a href="http://definities.geostandaarden.nl/concepten">conceptenregister</a> te raadplegen. </span></p>
						<p><i class="fa fa-file-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/wsdl/">WSDL</a></span></p>
						<p><span style='margin-left:37px; width: 100%'>Web Services Description Language (WSDL) bestanden, die beschrijven welke services en operaties een webapplicatie aanbiedt voor het zenden/ontvangen van berichten.</span></p>
						<p><i class="fa fa-file-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/visualisatie/">Visualisatie</a></span></p>
						<p><span style='margin-left:37px; width: 100%'>Regels die specificeren hoe geografische objecten op de kaart weergegeven moeten worden, doorgaans geïmplementeerd in SLD/SE</span></p>
						<p><i class="fa fa-file-image-o"></i><span style='margin-left: 25px'><a href="https://register.geostandaarden.nl/symbool/">Symbool</a></span></p>
						<p><span style='margin-left:37px; width: 100%'>Symbolen / iconen voor het weergeven van geografische objecten op kaarten</span></p>

</div>

</div>

</article>
<footer>
<script>$("footer").load("https://register.geostandaarden.nl/r/html/footer.html");</script>
</footer>
</body>
</html>
